filestore-service-rest-frontend
*.bak
.DS_Store
.classpath
.project
.settings
apollo-ws/service-skeletons/java/trunk/xsd-types/src/main/xsd/
dependency-reduced-pom.xml
target/
*.iml
db-common/src/main/resources/apollo_db_schema.sql
**/*.idea/
xsd-types/src/main/xsd/
catalog-*.xml
nb-configuration.xml
classlist.txt
.*.swp
*/nbactions.xml
assembly/

